* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #606060;
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  line-height: 1.6rem;
}

img {
  max-width: 100%;
}

a {
  color: #606060;
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-background {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
  padding: 0.25rem;
}

.main-title {
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.space-between-letters {
  letter-spacing: 0.4em;
}

header nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: inline-block;
  padding: 10px 20px;
}

header nav ul li a i {
  margin: 5px;
}

header nav ul li:last-child {
  position: absolute;
  right: 0;
}

header nav ul li:last-child a {
  padding: 10px 15px;
}

header nav ul li:hover {
  background-color: #d4d4d4;
}

header nav ul li:hover a {
  color: #000000;
}

header nav ul li:hover:last-child {
  background-color: #ff3300;
}

header nav ul li:hover:last-child a {
  color: #ffffff;
}

.header-bg {
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

.header-bg h1 {
  position: absolute;
  margin: 0;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background-color: #151515;
  color: #d4d4d4;
  padding: 15px 15px;
  letter-spacing: 0.4em;
  font-size: 26px;
  font-weight: 500;
}

.container {
  max-width: 960px;
  padding: 60px 15px;
  margin: 0 auto;
}

.my-name {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  margin: 30px;
}

.my-name div {
  text-align: center;
}

.my-name p {
  margin-bottom: 30px;
}

.my-name p i {
  margin-right: 5px;
}

.my-name img {
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

.speciality .text-center {
  font-size: 18px;
  margin: 40px 0;
}

.speciality p i {
  width: 30px;
}

.speciality .first-progress-bar, .speciality .second-progress-bar, .speciality .third-progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.speciality .first-progress-bar div:first-child, .speciality .second-progress-bar div:first-child, .speciality .third-progress-bar div:first-child {
  background-color: #606060;
  width: 90%;
  padding: 5px 0;
}

.speciality .first-progress-bar div:first-child p, .speciality .second-progress-bar div:first-child p, .speciality .third-progress-bar div:first-child p {
  width: 100%;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.speciality .first-progress-bar div:last-child, .speciality .second-progress-bar div:last-child, .speciality .third-progress-bar div:last-child {
  background-color: #d4d4d4;
  width: 10%;
  padding: 5px 0;
}

.speciality .second-progress-bar div:first-child {
  width: 85%;
}

.speciality .second-progress-bar div:last-child {
  width: 15%;
}

.speciality .third-progress-bar div:first-child {
  width: 75%;
}

.speciality .third-progress-bar div:last-child {
  width: 25%;
}

.achivements {
  background-color: #606060;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
  margin-top: 20px;
}

.achivements div {
  text-align: center;
}

.achivements div p:first-child {
  font-size: 24px;
  margin-bottom: 0;
}

.achivements div p:last-child {
  margin: 10px 0 20px 0;
}

.portfolio-img, .contact-img {
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

.portfolio-img p, .contact-img p {
  position: absolute;
  margin: 0;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.portfolio .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  margin: 50px;
}

.portfolio .gallery img {
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

.portfolio .gallery img:hover {
  opacity: 0.7;
}

.portfolio .load-more {
  text-align: center;
}

.portfolio .load-more button {
  background-color: #e8e8e8;
  color: #606060;
  padding: 15px 25px;
  border: none;
  font-weight: bold;
}

.portfolio .load-more button:hover {
  background-color: #d4d4d4;
}

.contact-img {
  background-position: center center;
  margin-top: 30px;
}

.contact-img p {
  color: #ffffff;
}

.contact {
  margin-bottom: 50px;
}

.contact .contact-info {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-column-gap: 40px;
}

.contact .contact-info img {
  border-radius: 5px;
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

.contact .contact-info div div {
  font-size: 18px;
  margin: 20px 0;
}

.contact .contact-info div div p {
  margin: 10px 0;
}

.contact .contact-info div div p i {
  width: 30px;
}

.contact .contact-info div div p i:hover {
  color: #000000;
}

.contact .contact-info div input {
  padding: 10px;
  border: 1px solid #d4d4d4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.contact .contact-info div .contact-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  margin-bottom: 10px;
}

.contact .contact-info div .contact-message {
  width: 100%;
}

.contact .contact-info div .contact-send-message {
  text-align: right;
}

.contact .contact-info div .contact-send-message button {
  background-color: #000000;
  color: #ffffff;
  padding: 12px 20px 12px 15px;
  border: none;
  font-size: 16px;
}

.contact .contact-info div .contact-send-message button i {
  width: 30px;
}

.contact .contact-info div .contact-send-message button:hover {
  background-color: #d4d4d4;
  color: #151515;
}

footer {
  background-color: #606060;
  padding: 70px;
  color: #ffffff;
  text-align: center;
}

footer a button {
  background-color: #ffffff;
  color: #606060;
  padding: 10px 20px 10px 15px;
  border: none;
  font-size: 16px;
  text-align: left;
}

footer a button i {
  width: 25px;
}

footer a button:hover {
  background-color: #d4d4d4;
}

footer:hover {
  background-color: #000000;
}

footer:hover a button {
  color: #000000;
}

footer .footer-social-media {
  font-size: 26px;
  margin: 0;
  margin-top: 25px;
}

footer .footer-social-media a {
  color: #ffffff;
}

footer .footer-social-media a:hover {
  color: #d4d4d4;
}

footer p:last-child {
  margin-top: 25px;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */